BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Attach
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
PointerAlignment: Left
SpaceAfterTemplateKeyword: false